doctype html
html(lang="en")
	head
		title Genesis — 
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet")
		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/owl.carousel.min.css")
		link(rel="stylesheet" href="css/jquery.fancybox.min.css")
		link(rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css")
		link(rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css")
		// Theme Style
		link(rel="stylesheet" href="css/style.css")
	body
		header(role="banner")
			nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
				.container-fluid
					a.navbar-brand(href="/") Genesis
					button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation")
						span.navbar-toggler-icon
					#navbarsExample05.collapse.navbar-collapse
						ul.navbar-nav.pl-md-5.ml-auto
							li.nav-item
								a.nav-link.active(href="/") Home
							li.nav-item
								a.nav-link(href="/#Wie?") Over Ons
							li.nav-item
								a.nav-link(href="/events") Events
							li.nav-item.dropdown
								a#dropdown04.nav-link.dropdown-toggle(href="/activiteiten" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Activiteiten
								.dropdown-menu(aria-labelledby="dropdown04")
									a.dropdown-item(href="/activiteiten#Leren") Leren
									a.dropdown-item(href="/activiteiten#Lezen") Lezen
									a.dropdown-item(href="/activiteiten#Leven") Leven
							li.nav-item
								a.nav-link(href="/login") Login
							li.nav-item
								a.nav-link(href="/contact") Contact
		// END header
		.top-shadow
		.inner-page
			.slider-item(style="background-image: url('images/Banner.jpg');")
				.container
					.row.slider-text.align-items-center.justify-content-center
						.col-md-8.text-center.col-sm-12.element-animate.pt-5
							h1.pt-5
								span Debat tussen Bill Nye en Ken Ham
							p.mb-5.w-75 4 Februari 2020
		section.section
			.container
				.row.justify-content-center
					.col-md-8.mb-5
						h2
							| “Is creatie een levensvatbaar oorsprongsmodel in het moderne, wetenschappelijke tijdperk van vandaag?”
						h2
							| Bestseller-auteur Ken Ham neemt het op tegen Award-winnende wetenschapsapologist Bill Nye.
				.row.justify-content-center
					.col-md-8
						p
							| Kenneth Alfred Ham (geboren op 20 oktober 1951) is een Australische christelijke, Young-Earth creationist, woonachtig in de Verenigde Staten. Hij is de oprichter, CEO en voormalig president van Answers in Genesis (AiG), een creationistische organisatie die het Creation Museum en de Ark Encounter beheert.
						p
							| William Sanford Nye (geboren op 27 november 1955), in de volksmond Bill Nye de Science Guy genoemd, is een van de meest voorname Round-Earth apologisten. Voor meer informatie verwijzen we u naar onze gids
							| 'Beruchte wetenschapsapologisten', beschikbaar op al onze activiteiten.
						p
							| Op 4 februari gaan deze twee sprekers met mekaar in debat en zal de waarheid van het scheppingsverhaal bewezen worden! Wij roepen dan ook bij deze al onze leden op
							| om samen Mr. Ham te gaan steunen en voor en na de lezing de tegenpartij van woord te zijn.
						p
							b Geen registratie nodig! Dit is een openbaar evenement
							|  en dus verwachten we dat iedereen zijn of haar eigen ticket bestelt!
		footer.site-footer(role="contentinfo")
			.container
				.row.mb-5
					.col-md-4.mb-5
						h3 Genesis
						p.mb-5
							| Alles is uit hem ontstaan, alles is door hem geschapen, alles heeft in hem zijn doel. Hem komt de eer toe tot in eeuwigheid. Amen.
						ul.list-unstyled.footer-link.d-flex.footer-social
							li
								a.p-2(href="https://twitter.com/godcreationism")
									span.fa.fa-twitter
							li
								a.p-2(href="https://www.facebook.com/BYECreationism/")
									span.fa.fa-facebook
							li
								a.p-2(href="https://www.instagram.com/explore/tags/creationism/")
									span.fa.fa-instagram
					.col-md-5.mb-5.pl-md-5
						h3 Contact Informatie
						ul.list-unstyled.footer-link
							li.d-block
								span.d-block Adres:
								span Gebroeders de Smetstraat 1, 9000 Gent, België
							li.d-block
								span.d-block Telefoon:
								span +32 484 436 909
							li.d-block
								span.d-block Email:
								span info@genesis.com
					.col-md-3.mb-5
						h3 Snel toegang
						ul.list-unstyled.footer-link
							li
								a(href="/#Wie?") Over Ons
							li
								a(href="/contact") Contact
							li
								a(href="/gebruiksvoorwaarden") Gebruiksvoorwaarden
							li
								a(href="/login") Login
					.col-md-3
				.row
					.col-12.text-md-center.text-left
						p.copyright
							| Copyright ©
							script.
								document.write(new Date().getFullYear());
							|  All rights reserved by Genesis
		// END footer
		// loader
		#loader.show.fullscreen
			svg.circular(width="48px" height="48px")
				circle.path-bg(cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee")
				circle.path(cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214")
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/popper.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/jquery.waypoints.min.js")
		script(src="js/jquery.fancybox.min.js")
		script(src="js/main.js")
		script(src="js/main.js")
