doctype html
html(lang="en")
	head
		title Genesis — 
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet")
		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/owl.carousel.min.css")
		link(rel="stylesheet" href="css/jquery.fancybox.min.css")
		link(rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css")
		link(rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css")
		// Theme Style
		link(rel="stylesheet" href="css/style.css")
	body
		header(role="banner")
			nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
				.container-fluid
					a.navbar-brand(href="/") Genesis
					button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation")
						span.navbar-toggler-icon
					#navbarsExample05.collapse.navbar-collapse
						ul.navbar-nav.pl-md-5.ml-auto
							li.nav-item
								a.nav-link.active(href="/") Home
							li.nav-item
								a.nav-link(href="/#Wie?") Over Ons
							li.nav-item
								a.nav-link(href="/events") Events
							li.nav-item.dropdown
								a#dropdown04.nav-link.dropdown-toggle(href="/activiteiten" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Activiteiten
								.dropdown-menu(aria-labelledby="dropdown04")
									a.dropdown-item(href="/activiteiten#Leren") Leren
									a.dropdown-item(href="/activiteiten#Lezen") Lezen
									a.dropdown-item(href="/activiteiten#Leven") Leven
							li.nav-item
								a.nav-link(href="/login") Login
							li.nav-item
								a.nav-link(href="/contact") Contact
		// END header
		.top-shadow
		.inner-page
			.slider-item(style="background-image: url('images/Banner.jpg');")
				.container
					.row.slider-text.align-items-center.justify-content-center
						.col-md-8.text-center.col-sm-12.element-animate.pt-5
							h1.pt-5
								span Events
							p.mb-5.w-75
								| Doorheen het jaar organiseren we evenementen voor geïnteresseerden, niet te missen!
		section.section.border-t
			.container
				.row.justify-content-center.mb-5.element-animate
					.col-md-8.text-center
						h2.heading.mb-4 Evenementen
						p.mb-5.lead Bekijk hier onze evenementen.
			.container
				.row.no-gutters
					.col-md-4.element-animate
						a.link-thumbnail(href="/event1")
							h3 Creationisme voor dummies
							span.ion-plus.icon
							img.img-fluid(src="images/Events_1.jpg" alt="Image")
					.col-md-4.element-animate
						a.link-thumbnail(href="/event2")
							h3 Debat tussen Bill Nye en Ken Ham
							span.ion-plus.icon
							img.img-fluid(src="images/Events_2.jpg" alt="Image")
					.col-md-4.element-animate
						a.link-thumbnail(href="/event3")
							h3 Flat Earth
							span.ion-plus.icon
							img.img-fluid(src="images/Events_3.jpg" alt="Image")
					.col-md-4.element-animate
						a.link-thumbnail(href="/event4")
							h3 Bezoek aan het 'Creation Museum'
							span.ion-plus.icon
							img.img-fluid(src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/8/4/9/4/9200000099164948.jpg" alt="Image")
					.col-md-4.element-animate
						a.link-thumbnail(href="/event5")
							h3 Evolutietheorie is kletskoek
							span.ion-plus.icon
							img.img-fluid(src="images/Events_5.jpg" alt="Image")
					.col-md-4.element-animate
						a.link-thumbnail(href="/event6")
							h3 Kerstviering
							span.ion-plus.icon
							img.img-fluid(src="images/Events_6.jpg" alt="Image")
		// END section
		section.section.bg-light.block-11
			.container
				.row.justify-content-center.mb-5
					.col-md-8.text-center
						h2.heading.mb-4 Reviews
				.nonloop-block-11.owl-carousel
					.item
						.block-33.h-100
							.vcard.d-flex.mb-3
								.image.align-self-center
									img(src="images/Overons_7_312x312.jpg" alt="Person here")
								.name-text.align-self-center
									h2.heading Pritchard Dawgwings
									span.meta Evolutionair Bioloog
							.text
								blockquote
									p
										| ”Deze vereniging heeft mij terug op het rechte pad gebracht. Vroeger was ik een heidene, een ongelovige,
										| maar dankzij Genesis zag ik het licht. Uit dank heb ik me bij hen aangesloten
										| en zal ik ook mijn best doen anderen van de waarheid te overtuigen!“
					.item
						.block-33.h-100
							.vcard.d-flex.mb-3
								.image.align-self-center
									img(src="images/Persoon_1.jpg" alt="Person here")
								.name-text.align-self-center
									h2.heading Will Smote
									span.meta Acteur
							.text
								blockquote
									p
										| ”Ik was vorig jaar meegeweest op de reis, het was littt yooo that's hot that's hot.“
					.item
						.block-33.h-100
							.vcard.d-flex.mb-3
								.image.align-self-center
									img(src="images/Persoon_2.jpg" alt="Person here")
								.name-text.align-self-center
									h2.heading Pewdypyre
									span.meta Youtuber
							.text
								blockquote
									p ”De evenementen zijn eerder voor boomers bedoeld, maar super interessant!“
					.item
						.block-33.h-100
							.vcard.d-flex.mb-3
								.image.align-self-center
									img(src="images/Persoon_3.jpg" alt="Person here")
								.name-text.align-self-center
									h2.heading Alone Mask
									span.meta CEO
							.text
								blockquote
									p
										| ”Deze vereniging ontkrachtte alles wat ik dacht te weten over evolutie en het heliocentrisme, mensen die geloven dat God niet bestaat zijn krankzinnig. “
		// END .block-4
		footer.site-footer(role="contentinfo")
			.container
				.row.mb-5
					.col-md-4.mb-5
						h3 Genesis
						p.mb-5
							| Alles is uit hem ontstaan, alles is door hem geschapen, alles heeft in hem zijn doel. Hem komt de eer toe tot in eeuwigheid. Amen.
						ul.list-unstyled.footer-link.d-flex.footer-social
							li
								a.p-2(href="https://twitter.com/godcreationism")
									span.fa.fa-twitter
							li
								a.p-2(href="https://www.facebook.com/BYECreationism/")
									span.fa.fa-facebook
							li
								a.p-2(href="https://www.instagram.com/explore/tags/creationism/")
									span.fa.fa-instagram
					.col-md-5.mb-5.pl-md-5
						h3 Contact Informatie
						ul.list-unstyled.footer-link
							li.d-block
								span.d-block Adres:
								span Gebroeders de Smetstraat 1, 9000 Gent, België
							li.d-block
								span.d-block Telefoon:
								span +32 484 436 909
							li.d-block
								span.d-block Email:
								span info@genesis.com
					.col-md-3.mb-5
						h3 Snel toegang
						ul.list-unstyled.footer-link
							li
								a(href="/#Wie?") Over Ons
							li
								a(href="/contact") Contact
							li
								a(href="/gebruiksvoorwaarden") Gebruiksvoorwaarden
							li
								a(href="/login") Login
					.col-md-3
				.row
					.col-12.text-md-center.text-left
						p.copyright
							| Copyright ©
							script.
								document.write(new Date().getFullYear());
							|  All rights reserved by Genesis
		// END footer
		// loader
		#loader.show.fullscreen
			svg.circular(width="48px" height="48px")
				circle.path-bg(cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee")
				circle.path(cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214")
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/popper.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/jquery.waypoints.min.js")
		script(src="js/jquery.fancybox.min.js")
		script(src="js/main.js")
		script(src="js/main.js")
