doctype html
html(lang="en")
	head
		title Genesis — 
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet")
		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/owl.carousel.min.css")
		link(rel="stylesheet" href="css/jquery.fancybox.min.css")
		link(rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css")
		link(rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css")
		// Theme Style
		link(rel="stylesheet" href="css/style.css")
	body
		header(role="banner")
			nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
				.container-fluid
					a.navbar-brand(href="/") Genesis
					button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation")
						span.navbar-toggler-icon
					#navbarsExample05.collapse.navbar-collapse
						ul.navbar-nav.pl-md-5.ml-auto
							li.nav-item
								a.nav-link.active(href="/") Home
							li.nav-item
								a.nav-link(href="/#Wie?") Over Ons
							li.nav-item
								a.nav-link(href="/events") Events
							li.nav-item.dropdown
								a#dropdown04.nav-link.dropdown-toggle(href="/activiteiten" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Activiteiten
								.dropdown-menu(aria-labelledby="dropdown04")
									a.dropdown-item(href="/activiteiten#Leren") Leren
									a.dropdown-item(href="/activiteiten#Lezen") Lezen
									a.dropdown-item(href="/activiteiten#Leven") Leven
							li.nav-item
								a.nav-link(href="/login") Login
							li.nav-item
								a.nav-link(href="/contact") Contact
		// END header
		.top-shadow
		.inner-page
			.slider-item(style="background-image: url('images/Banner.jpg');")
				.container
					.row.slider-text.align-items-center.justify-content-center
						.col-md-8.text-center.col-sm-12.element-animate.pt-5
							h1.pt-5
								span Creationisme voor dummies
							p.mb-5.w-75 11 Januari 2020
		section.section
			.container
				.row.justify-content-center
					.col-md-8.mb-5
						h2
							| “Vrijwel alle wetenschappers zijn het er vandaag over eens dat biologische evolutie plaatsvindt.” -Wikipedia
				.row.justify-content-center
					.col-md-8
						p
							| Met deze stelling van Wikipedia openen we het jaar 2020. Hebben deze wetenschappers gelijk? Over hoeveel wetenschappers spreken we? Zoals elk jaar organiseert Genesis haar openingslezing
							| met een sterke stelling, sterke bewijzen en sterke conclusies!
						p
							| De enorm verschillende mening van enkele wetenschappers ten opzichte van de Bijbel heeft al vaker geleid tot grote spanningen: wat is correct, evolutie of creationisme?
						p
							| De kern van de controverse over biologische evolutie lijkt deze vraag te zijn: als levende wezens zich in al hun prachtige complexiteit ontwikkelen als gevolg van natuurlijke processen en zonder de directe betrokkenheid van God, wat doet dat dan met de plaats van de mens in de wereld? Is de mensheid niet 'speciaal' voor God?
						p
							| Als je sterke religieuze overtuigingen hebt en je weet dat het accepteren van biologische evolutie als een feit je op de een of andere manier minder speciaal voor God zou maken, dan is het gemakkelijk om te zien hoe geloof in biologische evolutie conflicten creëert. Maar zijn biologische evolutie en religieus geloof noodzakelijkerwijs in conflict? Veel religieuze figuren en wetenschappers denken van niet. In feite hebben veel wetenschappers een sterke religieuze overtuiging en veel religieuze leiders zijn naar voren gekomen om te zeggen dat ze in creationisme geloven.
						p
							| Onze oprichter Thierry Ding-Dong, een 200IQ Phd. in evolutionaire biologie zal aanwezig zijn en u alles kunnen uitleggen over zijn overtuiging: het Creationisme.
						p
							b Geen registratie! VOL = VOL !
		footer.site-footer(role="contentinfo")
			.container
				.row.mb-5
					.col-md-4.mb-5
						h3 Genesis
						p.mb-5
							| Alles is uit hem ontstaan, alles is door hem geschapen, alles heeft in hem zijn doel. Hem komt de eer toe tot in eeuwigheid. Amen.
						ul.list-unstyled.footer-link.d-flex.footer-social
							li
								a.p-2(href="https://twitter.com/godcreationism")
									span.fa.fa-twitter
							li
								a.p-2(href="https://www.facebook.com/BYECreationism/")
									span.fa.fa-facebook
							li
								a.p-2(href="https://www.instagram.com/explore/tags/creationism/")
									span.fa.fa-instagram
					.col-md-5.mb-5.pl-md-5
						h3 Contact Informatie
						ul.list-unstyled.footer-link
							li.d-block
								span.d-block Adres:
								span Gebroeders de Smetstraat 1, 9000 Gent, België
							li.d-block
								span.d-block Telefoon:
								span +32 484 436 909
							li.d-block
								span.d-block Email:
								span info@genesis.com
					.col-md-3.mb-5
						h3 Snel toegang
						ul.list-unstyled.footer-link
							li
								a(href="/#Wie?") Over Ons
							li
								a(href="/contact") Contact
							li
								a(href="/gebruiksvoorwaarden") Gebruiksvoorwaarden
							li
								a(href="/login") Login
					.col-md-3
				.row
					.col-12.text-md-center.text-left
						p.copyright
							| Copyright ©
							script.
								document.write(new Date().getFullYear());
							|  All rights reserved by Genesis
		// END footer
		// loader
		#loader.show.fullscreen
			svg.circular(width="48px" height="48px")
				circle.path-bg(cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee")
				circle.path(cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214")
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/popper.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/jquery.waypoints.min.js")
		script(src="js/jquery.fancybox.min.js")
		script(src="js/main.js")
		script(src="js/main.js")
